.main{
   
    background-color : rgb(29, 29, 29);
}
.body{
    margin :0;
}
.gs-styles{
    text-decoration: underline;
    color:rgb(15, 15, 15);
    text-shadow : 1px 1px 2px rgb(129, 179, 224) , 0 0 25px rgb(135, 169, 201) , 0 0 5px rgb(134, 171, 206);
}

.here{
    margin-top:3px;
    height: 60vh;
    overflow-y:auto;
}
.one{
    height : 9vh;
    background-color :rgb(131, 131, 131);
    display : flex;
    font-weight: bolder;
    justify-content: center;
   
    box-shadow:  1px 8px 7px rgb(79,176, 221);
    
}

#gs1,#gs2,#gs3,#gs4,#gs5,#gs6{
    display:none;
}
.two{
    
    display :flex;
    justify-content: center;
    }
    .p{
        display:flex;
    }
.text{
    font-size: 5vh;
    font-family: 'Roboto';
    margin-top:1.5vh;
    
}
.two-one,.two-two{
        padding:30px;
        margin:20px;
}
.two-three{
    padding:30px;
}
.two-two,.two-three{
        display:inline-block;
        background-color: rgb(51, 50, 50);
        width:200px; 
        
        text-align:center;
        justify-content:center;
        vertical-align:middle;
        align-items:center;
        box-shadow:  1px 8px 7px rgb(80, 96, 104);
}
.two-two{
    margin-top:12vh;
    margin-right:10vh;
    height:380px;
    width:200px;
    border-radius:10px;
    background-size: 350px;
    
}
.two-three{
    margin-top:12vh;
    height:380px;
    width:400px;
    border-radius:10px;
    background-size: 350px;
    
    
}
.two-one{
    background-color:  rgb(29, 29, 29);
    margin-top:3vh;
    width:200px; 
    border-radius:25px;
    text-align:center;
    justify-content:center;
    vertical-align:middle;
    align-items:center;
    display:flex;
   flex-direction: column;
   justify-content: space-between;
  
}
button{
    height: 20vh;
}
.two-two:hover{
    box-shadow: 0px 0px 5px 5px rgb(79,176, 221);
    transition: all 500ms ease-out;

}
.two-three:hover{
    box-shadow: 0px 0px 5px 5px rgb(79,176, 221);
    transition: all 500ms ease-out;
}

.images,.launch,.delete,.logs,.execute,.help{
    margin-top :30px;
    margin-bottom:5px;
    height : 7vh;
    width : 30vh;
    border-radius :10px;
    border-color:white;
    background-color:white;
    color : rgb(19, 92, 92);
    font-size: 20px;
    font-family:'Roboto';
    cursor:pointer;
    box-shadow:  1px 8px 7px rgb(80, 96, 104);
}
.launch:hover{
    box-shadow: 0px 0px 5px 5px rgb(9, 173, 255);
    transition: all 500ms ease-out;
}
.delete:hover{
    box-shadow: 0px 0px 5px 5px rgb(9,173, 255);
    transition: all 500ms ease-out;
}
.logs:hover{
    box-shadow: 0px 0px 5px 5px rgb(9,173, 255);
    transition: all 500ms ease-out;
}
.execute:hover{
    box-shadow: 0px 0px 5px 5px rgb(9,173, 255);
    transition: all 500ms ease-out;
}
.help:hover{
    box-shadow: 0px 0px 5px 5px rgb(9,173, 255);
    transition: all 500ms ease-out;
}




.images:hover {
    box-shadow: 0px 0px 5px 5px rgb(9,173, 255);
    transition: all 500ms ease-out;
  }
  .pullimage:hover{
    background-size: 250px;
    box-shadow: 0px 0px 5px 5px rgb(7, 123, 177);
  }
  .del:hover{
    background-color: rgb(3, 46, 37);
    box-shadow: 0px 0px 5px 5px rgb(192, 7, 7);
    transition: all 500ms ease-out;
    

  }
  .delall:hover{
    background-color: rgb(6, 78, 63);
    box-shadow: 0px 0px 5px 5px rgb(192,7,7);
    transition: all 500ms ease-out;
    
    
  }


.show:hover{
    box-shadow: 0px 0px 5px 5px rgb(9,173, 255);
    transition: all 500ms ease-out;
}
.show{
    margin-top :0vh;
    height : 7vh;
    width : 30vh;
    border-radius :10px;
    border-color:rgb(51, 50, 50);
    background-color:rgb(51, 50, 50);
    color :  rgb(255, 255, 255);
    font-size: 20px;
    font-family:'Roboto';
    cursor:pointer;
    box-shadow:  1px 8px 7px rgb(80, 96, 104);
}
.second-two{
    background-color:rgb(190, 241, 236);
    margin-top:20px;
    margin-left:3px;
    border-radius:10px;
    height:22vh ;
    box-shadow:  1px 8px 7px rgb(80, 96, 104);
    padding:3px;
}
.logs1{
    background-color:rgb(190, 241, 236);
    margin-top:90px;
    margin-left:3px;
    border-radius:10px;
    height:150px;
    padding:3px;

}
.cmds{
    background-color:rgb(190, 241, 236);
    margin-top:90px;
    margin-left:3px;
    border-radius:10px;
    height:170px;
    padding:3px;
}
.stopcontainer{
    background-color:rgb(190, 241, 236);
    margin-top:13px;
    margin-left:3px;
    border-radius:10px;
    height:22vh;
    box-shadow:  1px 8px 7px rgb(80, 96, 104);
    padding:3px;
    
}
.container{
    background-color:rgb(190, 241, 236);
    margin-top:20px;
    margin-left:3px;
    border-radius:10px;
    height:30vh;
    box-shadow:  1px 8px 7px rgb(80, 96, 104);
    padding:3px;
}
.logs1,.cmds{
    box-shadow:  1px 8px 7px rgb(80, 96, 104);
}

.button2{
    background-color:rgb(190, 241, 236);
    margin-top:10px;
    margin-left:6px;
    border-radius:10px;
    height: 55vh;
    width:30vh;
    background-size: 250px;
    box-shadow:  1px 8px 7px rgb(80, 96, 104);
    padding:3px;
}
.second-three{
    margin-top:20px;
    background-color:rgb(190, 241, 236);
    margin-left:3px;
    border-radius:10px;
    height:22vh;
    box-shadow:  1px 8px 7px rgb(80, 96, 104);
    padding:3px;
}
.pull,.delet{
    color:black;
    font-family:'Roboto';
    font-size:3vh;
    margin-top:10px;
}

input{
    width:20vh;
    height:5vh;
    margin-top:10px;
    border-radius:7px;
    font-family: 'Roboto';
    font-size:15px;
    font-weight:bold ;
    border-color: rgb(255, 255, 255);
    color:rgba(105, 105, 105, 0.863);
    box-shadow:  1px 8px 7px rgb(80, 96, 104);
}
.output{
    width:65vh;
    height:60.5vh;
    padding-top: 4px;
    padding-bottom:4px;
    padding-left:4px;
    padding-right:4px;
    border-radius:7px;
    font-family: 'Roboto';
    font-size:20px;
    font-weight:bold ;
    background-color:rgb(190, 241, 236);
    border-color: rgb(255, 255, 255);
    color:rgb(75, 75, 75);
    text-align:center;
    box-shadow:  1px 1px 3px 3px rgb(80, 96, 104);
   
}
.pullimage,.laun{
    width:20vh;
    height:5vh;
    margin-top:15px;
    border-radius:7px;
    font-family: 'Roboto';
    font-size:15px;
    font-weight:bold ;
    background-color: black;
    color:white;
    cursor:pointer;
    box-shadow:  1px 8px 7px rgb(80, 96, 104);
}
.delall,.del{
    width:20vh;
    height:5vh;
    margin-top:15px;
    border-radius:7px;
    font-family: 'Roboto';
    font-size:15px;
    font-weight:bold ;
    background-color: rgb(255, 23, 23);
    color:white;
    cursor:pointer;
    box-shadow:  1px 8px 7px rgb(80, 96, 104);

}




